@tailwind base;
@tailwind components;
@tailwind utilities;

.auth-title {
    @apply text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white;
}

.auth-subtitle {
    @apply text-gray-900 dark:text-white;
}

.badge {
    @apply inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium leading-4 bg-gray-100 text-gray-800;
}

.badge-primary {
    @apply bg-primary-100 text-primary-800;
}

.badge-secondary {
    @apply bg-secondary-100 text-secondary-800;
}

.badge-success {
    @apply bg-green-100 text-green-800;
}

.badge-danger {
    @apply bg-red-100 text-red-800;
}

.btn {
    @apply font-medium rounded-lg text-sm px-5 py-2.5 text-center flex items-center justify-center transition-all duration-300 space-x-2;
}

.btn-sm, .form-control-sm{
    @apply px-3 !py-2;
}

.btn-text{
    @apply px-0 hover:text-primary-600;
}

.btn-primary {
    @apply bg-primary-600 text-white hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800;
}

.btn-outline-primary {
    @apply border border-primary-600 text-primary-600 hover:bg-primary-600 hover:text-white focus:ring-4 focus:outline-none focus:ring-primary-300 dark:border-primary-600 dark:text-primary-600 dark:hover:bg-primary-600 dark:hover:text-white dark:focus:ring-primary-800;
}

.btn-secondary {
    @apply bg-secondary-600 text-white hover:bg-secondary-700 focus:ring-4 focus:outline-none focus:ring-secondary-300 dark:bg-secondary-600 dark:hover:bg-secondary-700 dark:focus:ring-secondary-800;
}

.btn-danger {
    @apply bg-red-600 text-white hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800;
}

.btn-success {
    @apply bg-green-600 text-white hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800;
}

.btn:disabled {
    @apply bg-gray-300 cursor-not-allowed;
}

.form-control, .select2-container--default .select2-selection--single, .select2-container--default .select2-selection--multiple {
    @apply bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:!ring-primary-600 focus:!border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500;
}

input[type="text"].form-control {
    @apply focus-visible:outline-none;
}

.select2-search__field {
    @apply focus:!ring-primary-600 focus:!border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500;
}

.select2-container--default .select2-selection--single:focus {
    outline-color: rgb(234 88 12 / var(--tw-border-opacity)) !important;
}

.select2-container--default .select2-selection--single, .select2-container--default .select2-selection--multiple, .select2-selection__arrow{
    height: 41.6px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered, .select2-container--default .select2-selection--multiple .select2-selection__rendered, .select2-selection__arrow{
    line-height: 1.25rem;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    @apply bg-primary-600 text-white;
}

.select2-selection__arrow {
    display: none;
}

.select2-selection__clear {
    margin-top: -3px;
}

.select2-selection__rendered::after {
    @apply !right-3 !text-gray-500;
    content: "\f078";
    font-family: "Font Awesome 5 Pro";
    font-weight: 400;
    font-size: 12px !important;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
  }

.form-control:disabled {
    @apply bg-gray-100 cursor-not-allowed dark:bg-gray-800;
}

.input-group {
    @apply relative w-full;
}

.input-group i{
    @apply text-gray-400;
}

.input-group-prepend {
    @apply absolute inset-y-0 left-0 flex items-center pl-3;
}

.input-group-prepend ~ .form-control {
    @apply pl-10;
}

.input-group-append {
    @apply absolute inset-y-0 right-0 flex items-center pr-3;
}

.input-group-append ~ .form-control {
    @apply pr-10;
}

.custom-checkbox {
    @apply w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring checked:bg-primary-600 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:checked:bg-primary-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800;
}

.feather{
    @apply w-3 h-3;
}

.menu-item>a{
    @apply flex items-center py-1.5 px-4 text-base text-secondary-600 rounded-lg transition-all duration-200;
}

.menu-item>a>.menu-icon{
    @apply w-8 h-8 mr-1 rounded-lg text-center grid place-items-center;
}

.menu-item>a>.menu-icon>.feather{
    @apply w-4 h-4;
}

.menu-text{
    @apply ml-3 dark:text-gray-400 text-sm;
}

.menu-item:hover>a{
    @apply bg-secondary-200;
}

.menu-item:hover>a>.menu-text{
    @apply text-gray-600;
}

.menu-item:not(.has-submenu).active>a{
    @apply bg-primary-600;
}

.menu-item:not(.has-submenu).active:hover>a{
    @apply bg-primary-700;
}

.menu-item:not(.has-submenu).active>a>.menu-icon{
    @apply shadow-primary-300 text-white;
}

.menu-item:not(.has-submenu).active>a>.menu-text, .menu-item:not(.has-submenu).active>a>.submenu-toggle-icon{
    @apply text-white;
}

.submenu-toggle-icon{
    @apply ml-auto;
}

.submenu{
    @apply space-y-1 mt-1 ml-6;
}

.submenu-icon{
    @apply h-8 mr-1 rounded-lg text-center grid place-items-center;
}

.submenu-item {
    @apply menu-item;
}

.submenu-item.active > a{
    @apply bg-primary-600 text-white;
}

.submenu-item.active:hover > a{
    @apply bg-primary-700;
}

.submenu-item.active > a > .menu-icon{
    @apply shadow-primary-300 text-white;
}

.submenu-item.active > a > .menu-text{
    @apply text-white;
}

.is-invalid{
    @apply border-red-500;
}

.is-valid{
    @apply border-green-500;
}

.invalid-feedback{
    @apply text-red-500 text-sm;
}

.swal2-html-container form{
    @apply p-1;
}

.swal2-styled.swal2-confirm{
    @apply !bg-primary-600 hover:!bg-primary-700 focus:!ring-4 focus:!outline-none focus:!ring-primary-300 dark:!bg-primary-600 dark:hover:!bg-primary-700 dark:focus:!ring-primary-800;
}

.form {
    @apply space-y-4;
}

.link-primary {
    @apply text-sm font-medium text-primary-600 hover:underline dark:text-primary-500;
}

.label-block {
    @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white;
}

.breadcrumb {
    @apply inline-flex items-center space-x-1 md:space-x-3;
}

.breadcrumb > .breadcrumb-item {
    @apply text-sm font-medium text-gray-500 dark:text-gray-400;
}

.breadcrumb > .breadcrumb-item > a {
    @apply text-sm font-medium text-gray-700 hover:text-primary-600 dark:text-gray-400 dark:hover:text-white;
}

.card {
    @apply bg-white rounded-lg shadow-lg dark:bg-gray-800;
}

.card-header {
    @apply p-4 border-b border-gray-200 dark:border-gray-700;
}

.card-header .card-title {
    @apply text-lg font-semibold text-gray-900 dark:text-white;
}

.card-body {
    @apply p-4;
}

.card-footer {
    @apply p-4 border-t border-gray-200 dark:border-gray-700;
}

.navbar-floating header{
    @apply p-5;
}

.navbar-floating main{
    @apply px-5 pb-5;
}

.sidebar-collapsed .sidebar{
    @apply !w-16;
}


.sidebar-collapsed .main-content{
    @apply !ml-16;
}

.table-on-form thead th{
    @apply !font-medium;
}

.table-bordered {
    @apply border-collapse border border-gray-300 dark:border-gray-700;
}

.table-bordered th,
.table-bordered td {
    @apply border border-gray-300 dark:border-gray-700;
}

.table{
    @apply w-full text-sm text-left text-gray-500 dark:text-gray-400;
}

.table th, .table td{
    @apply px-4;
}

.table thead th {
    @apply py-4 border-b-2;
}

.table tbody th, .table tbody td, .table tfoot th, .table tfoot td {
    @apply py-2;
}

.table tr {
    @apply border-b dark:border-gray-700;
}

.table.table-borderless tr {
    @apply !border-b-0;
}

input[type="text"].currency, input[type="text"].numeric {
    @apply text-right;
}

.profit-loss-cards-wrapper{
    @apply grid grid-cols-1 md:grid-cols-4 gap-4;
}

.init-select2{
    @apply max-w-full;
}
